import { Component } from {quotes}@stencil/core{quotes};


@Component({
    tag: {quotes}{selector}{quotes},
    styleUrl: {quotes}{styleUrl}{quotes}{shadow}
})
export class {className} {

    render() {
        return (
            <div>
                <p>Hello {className}!</p>
            </div>
        );
    }
}
